version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/APP"
    schedule:
      interval: "weekly"
      day: "monday"
    open-pull-requests-limit: 5
    rebase-strategy: "auto"
    labels:
      - "dependencies"
    commit-message:
      prefix: "deps"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
    open-pull-requests-limit: 3
    labels:
      - "ci"
    commit-message:
      prefix: "ci"
